// Colors

$blueLight: #7F8AFB;
$blue: #1332F2;
$blueDark: #160A69;
$beige: #FFF3DD;
$orange: #F36D37;
$red: #A52025;
$beigeLight: #FFF9F7;
$pinkLight: #F9EFED;
$pink: #FEE5E8;
$greyUltraLight: #F5F5F5;
$greyLight: #CFCFCF;
$grey: #9D9D9D;
$black: #000000;
$white: #FFFFFF;
$greySoft: #E8E8E8;
$brownLight: #D5C8C2;
$brow: #A79687;

$greyIOB: #E2E2E2;
$greyLightIOB: #F8F8F8;
$blueIOB: #7F89F9;
$blueUltraIOB: #7EE0D9;

$colors: (
  blueLight: $blueLight,
  blue: $blue,
  blueDark: $blueDark,
  beige: $beige,
  orange: $orange,
  red: $red,
  greyUltraLight: $greyUltraLight,
  beigeLight: $beigeLight,
  pinkLight: $pinkLight,
  pink: $pink,
  greyLight: $greyLight,
  grey: $grey,
  black: $black,
  white: $white,
  greySoft: $greySoft,
  brownLight: $brownLight,
  brow: $brow
);

// Font

@font-face {
	font-family: "Futura";
	src: url('../font/futura.ttf');
}

@font-face {
	font-family: "Futura Bold";
	font-style: bold;
	src: url('../font/futuraBold.ttf');
}

* {
  font-family: "Futura";
  font-size: 24px;
  font-weight: 100;
  line-height: 26.4px;
  margin: 0;
  padding: 0;
}

.font-bold {
	font-family: "Futura Bold";
}

// Other scss

// Menu

.menu {
  background: $white;
  border-radius: 20px;
  cursor: pointer;
  height: 20px;
  left: 30px;
  padding: 10px 8px 6px;
  position: fixed;
  top: 45%;
  width: 20px;
  z-index: 999;

  &:hover {
    background: $black;

    .menu-stripe {
      background-color: $white;
    }
  }
}

.menu-stripe {
  background-color: $black;
  border-radius: 5px;
  height: 2px;
  margin-bottom: 5px;
}

.menu-content {
  background: white;
  cursor: pointer;
  display: block;
  position: absolute;
}

.menu-close-button {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.menu-close-button:hover {
  opacity: 1;
}

.menu-close-button:before, .menu-close-button:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}

.menu-close-button:before {
  transform: rotate(45deg);
}

.menu-close-button:after {
  transform: rotate(-45deg);
}

.menu-link {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
}

.menu-link__item {
  align-self: center;
  color: $black;
  cursor: pointer;
  display: block;
  text-align: center;
  text-decoration: none;
  width: 100%;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

// HomePage

.home-title {
  display: block;
  color: $black;
  font-size: 22.5px;
  text-align: center;
  text-decoration: none;
  padding: 25px 0;
  width: 100%;
}

.home-gradien {
  background: linear-gradient(black, white);
  height: 625px;
  margin: 30px auto;
  max-width: 420px;
  width: 100%;
}

.home-colors {
  width: 100%;
}

.home-colors__line {
  display: flex;
  margin: 0 auto;
  width: 100%;
}

.home-colors__cell {
  color: $black;
  height: 245px;
  margin: 20px;
  text-decoration: none;
  width: calc(100% /3);
}

@each $key, $value in $colors {

  .home-colors__cell--#{$key} {
    background-color: #{$value};
  }
}

// Hover Home

.js-hover-homepage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
  text-decoration: none;
  height: 100%;
  width: 100%;
}

.hover-title {
  color: $white;
  display: table-cell;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  width: 100%;
}

.hover-text {
  color: $white;
  display: block;
  text-decoration: none;
}

/// About Page

.about {
  margin: 0 auto;
  max-width: 755px;
  padding-top: 20%;
  width: 100%;

  p {
    margin-bottom: 20px;
  }
}

// Page

.page-content {
  margin: 0 auto;
  max-width: 900px;
  width: 100%;
}

.page__grey {
  background-color: $greyIOB;
  margin-top: -5px;
  text-align: center;
}

// Page IOB

.page-iob-image {
  max-width: 900px;
  width: 100%;
}

.page-iob__large-logo {
  height: 55px;
  padding: 60px 0 ;
  width: 305px;
}

.page-iob__color-line {
  display: flex;
  height: 60px;
  margin: 0 auto;
  width: 85%;
}

$colorsIOB: (
    black: $black,
    white: $white,
    greyLightIOB: $greyLightIOB,
    greyIOB: $greyIOB,
    blueIOB: $blueIOB,
    blueUltraIOB: $blueUltraIOB,
);

@each $key, $value in $colorsIOB {

  .page-iob-colors--#{$key} {
    background-color: #{$value};
    height: 60px;
    width: 16.666%;
  }
}

.page-iob__image-full {
  display: block;
  margin: 0 auto;
  width: 85%;

  &--margin {
    margin: 50px auto 0;
  }
}

.page-image-full {
  margin: 10px 0;
  width: 100%;
}

.page-image-container {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  width: 100%;
}

.page-image-container__50 {
  width: 49%;
}

.page-image-container__25 {
  width: 24%;
}

.page-image-container__33 {
  width: 32%;
}

.separator {
  height: 70px;
}

.page__content {
  display: table;
  margin: 10px 25px;
  font-size: 16px;
}

.page__small-text {
  display: table-cell;
  width: 30%;

  p {
    font-size: 16px;
    text-align: left;
  }
}

.page__text {
  display: table-cell;
  width: 65%;

  p {
    font-size: 16px;
    text-align: left;
  }
}


.page-arcana {
  text-align: center;
}

.page-arcana__logo {
  margin: 20px auto;
}

.footer {
  margin: 30px 20px;
  text-align: center;
}

.footer-image {
	padding: 20px;
	cursor: pointer;
}
