@font-face { font-family: "Futura"; src: url("../font/futura.ttf"); }

@font-face { font-family: "Futura Bold"; font-style: bold; src: url("../font/futuraBold.ttf"); }

* { font-family: "Futura"; font-size: 24px; font-weight: 100; line-height: 26.4px; margin: 0; padding: 0; }

.font-bold { font-family: "Futura Bold"; }

.menu { background: #FFFFFF; border-radius: 20px; cursor: pointer; height: 20px; left: 30px; padding: 10px 8px 6px; position: fixed; top: 45%; width: 20px; z-index: 999; }

.menu:hover { background: #000000; }

.menu:hover .menu-stripe { background-color: #FFFFFF; }

.menu-stripe { background-color: #000000; border-radius: 5px; height: 2px; margin-bottom: 5px; }

.menu-content { background: white; cursor: pointer; display: block; position: absolute; }

.menu-close-button { position: absolute; right: 32px; top: 32px; width: 32px; height: 32px; opacity: 0.3; }

.menu-close-button:hover { opacity: 1; }

.menu-close-button:before, .menu-close-button:after { position: absolute; left: 15px; content: ' '; height: 33px; width: 2px; background-color: #333; }

.menu-close-button:before { -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }

.menu-close-button:after { -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }

.menu-link { position: absolute; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.menu-link__item { -ms-flex-item-align: center; align-self: center; color: #000000; cursor: pointer; display: block; text-align: center; text-decoration: none; width: 100%; }

.menu-link__item:hover { cursor: pointer; text-decoration: underline; }

.home-title { display: block; font-size: 22.5px; text-align: center; padding: 25px 0; width: 100%; }

.home-gradien { background: -webkit-gradient(linear, left top, left bottom, from(black), to(white)); background: -webkit-linear-gradient(black, white); background: -o-linear-gradient(black, white); background: linear-gradient(black, white); height: 625px; margin: 30px auto; max-width: 420px; width: 100%; }

.home-colors { width: 100%; }

.home-colors__line { display: -webkit-box; display: -ms-flexbox; display: flex; margin: 0 auto; width: 100%; }

.home-colors__cell { color: #000000; height: 245px; margin: 20px; text-decoration: none; width: calc(100% /3); }

.home-colors__cell--blueLight { background-color: #7F8AFB; }

.home-colors__cell--blue { background-color: #1332F2; }

.home-colors__cell--blueDark { background-color: #160A69; }

.home-colors__cell--beige { background-color: #FFF3DD; }

.home-colors__cell--orange { background-color: #F36D37; }

.home-colors__cell--red { background-color: #A52025; }

.home-colors__cell--greyUltraLight { background-color: #F5F5F5; }

.home-colors__cell--beigeLight { background-color: #FFF9F7; }

.home-colors__cell--pinkLight { background-color: #F9EFED; }

.home-colors__cell--pink { background-color: #FEE5E8; }

.home-colors__cell--greyLight { background-color: #CFCFCF; }

.home-colors__cell--grey { background-color: #9D9D9D; }

.home-colors__cell--black { background-color: #000000; }

.home-colors__cell--white { background-color: #FFFFFF; }

.home-colors__cell--greySoft { background-color: #E8E8E8; }

.home-colors__cell--brownLight { background-color: #D5C8C2; }

.home-colors__cell--brow { background-color: #A79687; }

.js-hover-homepage { background-position: center; background-repeat: no-repeat; background-size: cover; display: none; text-decoration: none; height: 100%; width: 100%; }

.hover-title { color: #FFFFFF; display: table-cell; font-size: 20px; text-align: center; text-decoration: none; vertical-align: middle; width: 100%; }

.hover-text { color: #FFFFFF; display: block; text-decoration: none; }

.about { margin: 0 auto; max-width: 755px; padding-top: 20%; width: 100%; }

.about p { margin-bottom: 20px; }

.page-content { margin: 0 auto; max-width: 900px; width: 100%; }

.page__grey { background-color: #E2E2E2; margin-top: -5px; text-align: center; }

.page-iob-image { max-width: 900px; width: 100%; }

.page-iob__large-logo { height: 55px; padding: 60px 0; width: 305px; }

.page-iob__color-line { display: -webkit-box; display: -ms-flexbox; display: flex; height: 60px; margin: 0 auto; width: 85%; }

.page-iob-colors--black { background-color: #000000; height: 60px; width: 16.666%; }

.page-iob-colors--white { background-color: #FFFFFF; height: 60px; width: 16.666%; }

.page-iob-colors--greyLightIOB { background-color: #F8F8F8; height: 60px; width: 16.666%; }

.page-iob-colors--greyIOB { background-color: #E2E2E2; height: 60px; width: 16.666%; }

.page-iob-colors--blueIOB { background-color: #7F89F9; height: 60px; width: 16.666%; }

.page-iob-colors--blueUltraIOB { background-color: #7EE0D9; height: 60px; width: 16.666%; }

.page-iob__image-full { display: block; margin: 0 auto; width: 85%; }

.page-iob__image-full--margin { margin: 50px auto 0; }

.page-image-full { margin: 10px 0; width: 100%; }

.page-image-container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin: 10px 0; width: 100%; }

.page-image-container__50 { width: 49%; }

.page-image-container__25 { width: 24%; }

.page-image-container__33 { width: 32%; }

.separator { height: 70px; }

.page__content { display: table; margin: 10px 25px; font-size: 16px; }

.page__small-text { display: table-cell; width: 30%; }

.page__small-text p { font-size: 16px; text-align: left; }

.page__text { display: table-cell; width: 65%; }

.page__text p { font-size: 16px; text-align: left; }

.page-arcana { text-align: center; }

.page-arcana__logo { margin: 20px auto; }

.footer { margin: 30px 20px; text-align: center; }

.footer-image { padding: 20px; cursor: pointer; }
