// Colors

$blueLight: #7F8AFB;
$blue: #1332F2;
$blueDark: #160A69;
$beige: #FFF3DD;
$orange: #F36D37;
$red: #A52025;
$beigeLight: #FFF9F7;
$pinkLight: #F9EFED;
$pink: #FEE5E8;
$greyUltraLight: #F5F5F5;
$greyLight: #CFCFCF;
$grey: #9D9D9D;
$black: #000000;
$white: #FFFFFF;
$greySoft: #E8E8E8;
$brownLight: #D5C8C2;
$brow: #A79687;

$greyIOB: #E2E2E2;
$greyLightIOB: #F8F8F8;
$blueIOB: #7F89F9;
$blueUltraIOB: #7EE0D9;

$colors: (
  blueLight: $blueLight,
  blue: $blue,
  blueDark: $blueDark,
  beige: $beige,
  orange: $orange,
  red: $red,
  greyUltraLight: $greyUltraLight,
  beigeLight: $beigeLight,
  pinkLight: $pinkLight,
  pink: $pink,
  greyLight: $greyLight,
  grey: $grey,
  black: $black,
  white: $white,
  greySoft: $greySoft,
  brownLight: $brownLight,
  brow: $brow
);

// Font

@font-face {
	font-family: "Futura";
	src: url('../font/futura.otf');
}

@font-face {
	font-family: "Futura Bold";
	font-style: bold;
	src: url('../font/futuraBold.otf');
}

* {
  font-family: "Futura";
  font-size: 24px;
  font-weight: 100;
  line-height: 26.4px;
  margin: 0;
  padding: 0;
}

.font-bold {
	font-family: "Futura Bold";
}

// Other scss

// Menu


.menu-social {
  right: 21px;
  position: fixed;
  top: 37%;
}

.menu-social__image {
	display: grid;
	margin-bottom: 50%;
	
	img {
		background: $white;
		border-radius: 12px;
		cursor: pointer;
		width: 20px;
		padding: 10px;	
	}
}

.menu {
  background: $white;
  border-radius: 20px;
  cursor: pointer;
  height: 20px;
  left: 21px;
  padding: 10px 8px 6px;
  position: fixed;
  top: 45%;
  width: 20px;
  z-index: 999;
}

.menu-stripe {
  background-color: $black;
  border-radius: 5px;
  height: 2px;
  margin-bottom: 5px;
}

.menu-content {
	
    height: 759px;
    width: 895px;
    top: 0px;
    left: 0px;
    display: flex;
    /* margin: 0 auto; */
    justify-content: center;
    align-items: center;
	
  background: white;
  cursor: pointer;
  display: block;
  position: absolute;
}

.menu-close-button {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.menu-close-button:hover {
  opacity: 1;
}

.menu-close-button:before, .menu-close-button:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}

.menu-close-button:before {
  transform: rotate(45deg);
}

.menu-close-button:after {
  transform: rotate(-45deg);
}

.menu-link__item {
  align-self: center;
  color: $black;
  cursor: pointer;
  display: block;
  margin: 75px 0;
  text-align: center;
  text-decoration: none;
  width: 100%;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

// HomePage

.home {
	margin: 0 75px;
}

.home-title {
  display: block;
  color: $black;
  font-size: 22.5px;
  text-align: center;
  text-decoration: none;
	text-transform: uppercase;
  padding: 35px 0 25px;
  width: 100%;
}

.home-gradien {
  background: linear-gradient(black, white);
  height: 520px;
	display: block;
  margin: 10px auto 30px;
  width: calc((100% /3) - 10px);
}

.home-colors {
  width: 100%;
}

.home-colors__line {
  display: flex;
  margin: 0 auto;
  width: 100%;
}

.home-colors__cell {
  color: $black;
  height: 245px;
  margin: 5px;
  text-decoration: none;
  width: calc(100% /3);
}

@media (max-width: 640px) {
	.home-gradien {
		display: none;
	}

	.home-colors__line {
		display: block;
	}
	
	.home-colors__cell {
    width: 100%;
    display: block;
	}
	
	.menu-social {
		right: 2px;
	}
	
	.menu {
		left: 9px;
	}
	
	.home {
    margin: 0 50px;
}
}

@each $key, $value in $colors {

  .home-colors__cell--#{$key} {
    background-color: #{$value};
  }
}

// Hover Home

.js-hover-homepage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
  text-decoration: none;
  height: 100%;
  width: 100%;
}

.hover-title {
  color: $white;
  display: table-cell;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
	text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
}

.hover-text {
  color: $white;
  display: block;
  font-size: 16px;
	text-transform: lowercase;
  text-decoration: none;
}

/// About Page

.about {
  margin: 0 auto;
  max-width: 755px;
  padding-top: 11%;
  width: 100%;

  p {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 20px;
  }
}

// Page

.page-content {
  margin: 0 auto;
  max-width: 900px;
  width: 100%;
}

.page__grey {
  background-color: $greyIOB;
  margin-top: -5px;
  text-align: center;
}

// Page IOB

.page-iob-image {
  max-width: 900px;
  width: 100%;
}

.page-iob__large-logo {
  height: 55px;
  padding: 60px 0 ;
  width: 305px;
}

.page-iob__color-line {
  display: flex;
  height: 60px;
  margin: 0 auto;
  width: 85%;
}

$colorsIOB: (
    black: $black,
    white: $white,
    greyLightIOB: $greyLightIOB,
    greyIOB: $greyIOB,
    blueIOB: $blueIOB,
    blueUltraIOB: $blueUltraIOB,
);

@each $key, $value in $colorsIOB {

  .page-iob-colors--#{$key} {
    background-color: #{$value};
    height: 60px;
    width: 16.666%;
  }
}

.page-iob__image-full {
  display: block;
  margin: 0 auto;
  width: 85%;

  &--margin {
    margin: 50px auto 0;
  }
}

.page-image-full {
  margin: 10px 0;
  width: 100%;
}

.page-image-container {
  display: flex;
  justify-content: space-between;
  margin: 40px 0 10px;
  width: 100%;
}

.page-image-container__50 {
  height: 100%;
  width: 49%;
}

.page-image-container__25 {
  height: 100%;
  width: 24%;
}

.page-image-container__33 {
  height: 100%;
  width: 32%;
}

.separator {
  height: 70px;
}

.page__content {
  display: table;
  margin: 10px 25px;
  font-size: 16px;
}

.page__small-text {
  display: table-cell;
  width: 30%;

  p {
    font-family: "Futura Bold";
    font-size: 16px;
    text-align: left;
  }
}

.page__text {
  display: table-cell;
  width: 65%;

  p {
    font-size: 16px;
    text-align: left;
  }

  .credit {
    font-size: 12px;
  }
}


.page-arcana {
  text-align: center;
}

.page-arcana__logo {
  margin: 20px auto;
}

.footer {
  margin: 30px 20px;
  text-align: center;
}

.footer-image {
	padding: 20px;
	cursor: pointer;
}

.copyright {
  position: absolute;
  bottom: 10px;
  right: 30px;
  font-size: 12px;
}